
	<div class="flex-col-c-sb size1 overlay1">
		<!--  -->
		<div class="w-full flex-w flex-sb-m p-l-80 p-r-80 p-t-22 p-lr-15-sm">
			<div class="wrappic1 m-r-30 m-t-10 m-b-10">
				<!-- <a href="#"><img src="images/icons/logo.png" alt="LOGO"></a> -->
			</div>
		</div>

		<!--  -->
		<div class="flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-120">
      <h3 class="l1-txt1 txt-center p-b-40 respon1">
        <img src="../assets/images/Blue 2-8.png" alt="LOGO">
			</h3>
      <h3 class="l1-txt1 txt-center p-b-40 respon1">
				Have an IDEA!
			</h3>
      <h3 class="l1-txt1 txt-center p-b-40 respon1">
				We have an surprise to YOU!
			</h3>
			<h3 class="l1-txt1 txt-center p-b-40 respon1">
				Coming Soon
			</h3>

			<div class="flex-w flex-c-m cd100">
				<div class="flex-col-c wsize1 m-b-30">
					<span class="l1-txt2 p-b-9 days">35</span>
					<span class="s1-txt1 where1 p-l-35">Days</span>
				</div>

				<div class="flex-col-c wsize1 m-b-30">
					<span class="l1-txt2 p-b-9 hours">17</span>
					<span class="s1-txt1 where1 p-l-35">Hours</span>
				</div>

				<div class="flex-col-c wsize1 m-b-30">
					<span class="l1-txt2 p-b-9 minutes">50</span>
					<span class="s1-txt1 where1 p-l-35">Minutes</span>
				</div>

				<div class="flex-col-c wsize1 m-b-30">
					<span class="l1-txt2 p-b-9 seconds">{{secondsLeft}}</span>
					<span class="s1-txt1 where1 p-l-35">Seconds</span>
				</div>
			</div>
		</div>
	</div>


